body {
    background-color: pink;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    margin-top: 10% !important;
    margin-bottom: 9% !important;
    border: 3px solid black;
}

.headings {
    font-family: 'Noto Sans', sans-serif;
}

/* first content latest news */
.latest-news {
    border: 1px solid;
    padding-left: 20px !important;
    background-color: rgb(45, 43, 43);
    color: white;
    font-style: italic;

}

/* .latest-news h5{
    background-color: white
} */
.GAME-SECHEDULE {
    border: 2px dotted;
    padding-left: 20px !important;
    background-color: rgb(49, 47, 47);
    font-weight: bold;
    font-style: italic;
    color: white;
}

/* .GAME-SECHEDULE h4{
    background-color: white;
} */
h3 {
    font-size: larger;
    font-weight: 900;
}

.LATEST-TWEETS {
    border: 1px dotted black;
    padding-left: 20px !important;
    font-weight: bold;
    font-style: italic;
    background-color: rgb(32, 31, 31);
    color: white;
}

/* .LATEST-TWEETS h4 {
    background-color: ;
} */

.foot{
    background-color: black;
}